.left-nav a img, .right-nav a img{
	width: 1.5em;
	height: 1.5em;
}
.right-nav a{
	margin-left: 2em;
}
.map-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.needle-article{
	width: 1.8em;
	height: 1.8em;
}
.articleimg{
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}
.dayandstart{
	display: flex;
	flex-direction: row; 
}
.articleHead{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin-bottom: 1em;
}
.articletitle, .articleSummary{
	margin-bottom: 1em;
}
.top-nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 2.5em;
	position: fixed;
	top: 1.5em;
	left: 1.5em;
	right: 1.5em;
}
.left-nav{
	display:flex;
	width: 50%;
	//margin-left: 1em;
}
.right-nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 50%;
}
#article-body{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin-bottom: 5em;
	padding: 1.5em;
}
#article{
	padding-top: 3em;
}
.needle-article{
	margin-bottom: .2em;
}