.left-nav a img, .right-nav a img {
  width: 1.5em;
  height: 1.5em;
}
.right-nav a {
  margin-left: 2em;
}
.map-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.needle-article {
  width: 1.8em;
  height: 1.8em;
}
.articleimg {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.dayandstart {
  display: flex;
  flex-direction: row;
}
.articleHead {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 1em;
}
.articletitle, .articleSummary {
  margin-bottom: 1em;
}
.top-nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 1.5em;
  left: 1.5em;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  height: 2.5em;
  background-color: white;
}
.left-nav {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 2em 0;
  background-color: white;
}
.right-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  padding: 2em 0;
  background-color: white;
}
#article-body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1.5em;
  margin: 0 auto;
  margin-bottom: 5em;
}
#article {
  padding-top: 2.5em;
}
.needle-article {
  margin-bottom: .2em;
}
