.bookmark-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  background-color: #fafafa;

  > a {
    padding: 1em 1.5em;
    color: $headingTextColor;
    font-family: "Oxygen-Bold";
    font-size: .8em;

    &.active {
      border-bottom: 3px solid $highlightedColor;
    }
  }
}

.bookmarks {
  display: flex;
  flex-direction: row;
  padding-bottom: 7em;
  overflow-x: scroll;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  .bookmark-site {
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    padding: 3em 1.5em;

    scroll-snap-align: start;
    scroll-snap-stop: normal;

    .b-empty {
      display: none;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .b-empty-text {
        width: 80%;
        max-width: 20em;
        font-family: "Oxygen-Bold";
        font-size: 1.2em;
        text-align: center;
      }

      .button {
        padding: 1em 2em;
        margin-top: 3em;
        color: #fff;
        text-transform: uppercase;
        background-color: $highlightedColor;
        border-radius: 5px;
      }
    }
  }

  .b-event-entries, .b-locations-entries, .b-tours-entries {
    display: flex;
    flex-direction: column;

    &:empty + div {
      display: flex;
    }

    .event {
      margin-right: 0;
      margin-left: 0;
    }

    .b-column {
      width: 100%;
      border-radius: 5px;
    }
  }
}
