.bookmark-header{
	background-color: #fafafa;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	> a {
		padding: 1em 1.5em;
		font-size: 0.8em;
		font-family: 'Oxygen-Bold';

		&.active {
			border-bottom: 3px solid $highlightedColor;
		}

		&:visited {
			border-bottom: 3px solid $highlightedColor;

		}
	}
}

.bookmarks {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	.bookmark-site {
		min-width: 100vw;
		max-width: 100vw;
		min-height: 100vh;
		scroll-snap-align: start;
		scroll-snap-stop: normal;
		padding: 3em 1.5em;

		.b-empty {
			display: none;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;

			.b-empty-text {
				font-size: 1.2em;
				font-family: 'Oxygen-Bold';
				width: 80%;
				max-width: 20em;
				text-align: center
			}

			.button {
				background-color: $highlightedColor;
				color: #fff;
				text-transform: uppercase;
				border-radius: 5px;
				padding: 1em 2em;
				margin-top: 3em;
			}
		}
	}

	.b-event-entries, .b-locations-entries, .b-tours-entries {
		display: flex;
		flex-direction: column;

		&:empty + div{
			display: flex;
		}

		.event {
			margin-left: 0;
			margin-right: 0;
    }
    
    .b-column {
			border-radius: 5px;
			width: 100%;
		}
	}
}