#event-wrapper {
  padding: 1.5em;
}

.eventColumn {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 1em;
  background-color: rgb(232, 234, 236);
  border-bottom-right-radius: .3em;
  border-bottom-left-radius: .3em;
}
.eventDate {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.daydate {
  font-size: 2em;
}
.eventInfo {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.event {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin: .75em 0;
}
.eventimg {
  //margin-top: 1em;
  width: 90vw;
  border-top-right-radius: .3em;
  border-top-left-radius: .3em;
}
.events {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#events {
  //for event context menu
  padding-bottom: 7em;
  margin-bottom: $heighOfNav;
}

#searchInput {
  display: block;
  //margin: 1em auto 0 auto;
  width: 100%;
  height: 3em;
  padding: 1em;
  //color: #748194;
  font-size: .8em;
  background: #f6f7f9;
  border: none;
  border-radius: 5px;
  outline: none;
}
#searchglass {
  position: absolute;
  top: 1.9em;
  right: 2em;
  width: 1.5em;
  height: 1.5em;
}
.title-event {
  margin-bottom: .2em;
}


@media only screen and (min-width: 768px) {
  .events {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
  }
  .eventColumn, .eventimg {
    width: 500px;
  }
}
