#headline-form {
  margin: 2em auto 0 auto;
  //display: block;
  text-transform: uppercase;
}
#back {
  display: flex;
  flex-direction: row;
  margin-left: -.3em;
}
#back img {
  width: 1.5em;
  height: 1.5em;
}
#exit img {
  width: 1.1em;
  height: 1.1em;
  margin-top: .1em;
}
#back span {
  padding-top: .2em;
  color: #7ece96;
}
#wrapperFormular {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transition: transform .3s ease-in-out;
  &.showStepOne {
    transform: translateX(-0vw);
  }
  &.showStepTwo {
    transform: translateX(-100vw);
  }
  &.showStepThree {
    transform: translateX(-200vw);
  }
}
#stepOne, #stepTwo, #stepThree {
  display: flex;
  flex-direction: column;
  //margin-top: 2em;
  width: 100vw;
  padding: 1.5em;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5em;
}

#description {
  height: 8em;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #707070;
  opacity: 1; /* Firefox */
}
.formButton {
  width: 50vw;
  height: 3em;
  padding: 1em;
  margin-top: 2.5em;
  color: #f6f7f9;
  font-size: 1em;
  font-weight: bold;
  background: #7ece96;
  border: none;
  border-radius: 5px;
  outline: none;
}
.formInput {
  width: 100%;
  height: 3em;
  padding: 1em;
  margin-top: 1em;
  font-size: 1em;
  background: white;
  border: none;
  border-radius: 5px;
  outline: none;
}
.backdrop {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #7ece96;
}
.warning {
  width: 60vw;
  margin: auto;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.warning h2 {
  margin-top: -3em;
  margin-bottom: 1em;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}
#loadingBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: .3em;
}

#bar1, #bar2, #bar3 {
  width: 33vw;
  height: 5px;
  background-color: white;
  &.greenbar {
    background-color: #7ece96;
  }
}

#eventformular {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(207, 209, 212);
}
#headernav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em 1.5em;
  background-color: white;
}

.summary {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
