#headline-form{
  //display: block;
  text-transform: uppercase;
  margin: 2em auto 0 auto;
}
#back{
  display: flex;
  flex-direction: row;
  margin-left: -0.3em;
}
#back img{
  width: 1.5em;
	height: 1.5em;
}
#exit img{
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.1em;
}
#back span{
  color: #7ECE96;
  padding-top: 0.1em;
}
#wrapperFormular{
  width: 300vw;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
    &.showStepOne {
      transform: translateX(-0vw);
    }
    &.showStepTwo {
      transform: translateX(-100vw);
    }
    &.showStepThree {
      transform: translateX(-200vw);
    } 
}
#stepOne, #stepTwo, #stepThree{
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  //margin-top: 2em;
  width: 100vw;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;

}

#description{
  height:8em;
}
.formButton{
  font-weight: bold;
  width: 50vw;
  margin-top: 2.5em;
  height: 3em;
  padding: 1em;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #7ECE96;
  color: #F6F7F9;
  font-size: 1em;
}
.formInput{
  width: 100%;
  margin-top: 1em;
  height: 3em;
  padding: 1em;
  border-radius: 5px;
  outline: none;
  border: none;
  background: white;
  font-size: 1em;
}
.backdrop{
  position: fixed;
  bottom: 0; 
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #7ECE96;
}
.warning{
  color: white;
  margin: auto;
  width: 60vw;
  text-align: center;
  font-size: 1.5em;
}
.warning h2{
  color: white;
  margin-top: -3em;
  margin-bottom: 1em;
  font-size: 2em;
}
#loadingBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.3em;
}

#bar1, #bar2, #bar3 {
  height: 5px;
  width: 33vw;
  background-color: white;
  &.greenbar {
    background-color: #7ECE96;
  }
}

#eventformular {
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 209, 212);
  overflow: hidden;
}
#headernav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: .5em 1.5em;
  align-items: center;
}

.summary{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}