div[class^="related"] {
  width: 100%;
  color: #fff;

  .heading {
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .r-heading-contact, .r-heading-imprint {
    padding: .8em 0;
  }
}

.related-about {
  background-color: #7ece96;

  .r-heading-about {
    padding-top: 2em;
  }

  .r-text-about {
    width: 50%;
    padding: 1em 0;
    margin: auto;
    text-align: center;
  }
}

.related-contact {
  background-color: #6da37d;

  &-content {
    display: block;
    padding: 1.5em;
    overflow: hidden;
    background-color: #e2e2e2;

    &.close {
      display: none;
      padding: 0;
    }

    .contact-text {
      margin: 1em 0 2.5em;
      color: #7e7e7e;
      text-align: center;
    }
  }
}

.related-imprint {
  margin-bottom: $heighOfNav;
  background-color: #646464;
}

.index-lifeguideLogo {
  display: block;
  width: 50%;
  max-width: 15em;
  margin: 0 auto;
  margin-top: 1em;
}

.location-tips-container, .event-tips-container, .tour-tips-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.5em;
}

.location-tips, .event-tips, .tour-tips {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: .8em;
  overflow-x: auto;


  & a {
    max-width: 25%;
    min-width: 12em;
    padding: 0 .5em;

    &:last-child {
      padding: 0 0 0 .5em;
    }

    &:first-child {
      padding: 0 .5em 0 0;
    }

    & img {
      width: 100%;
      height: 120px;
      border-radius: 5px;

      object-fit: cover;
    }

    .recommend-sub-heading {
      margin-top: .5em;
      color: rgb(88, 88, 88);
      font-size: .8em;
      font-weight: 400;
    }
  }
}

.location-tips-showAll, .event-tips-showAll, .tour-tips-showAll {
  align-self: flex-end;
  margin-left: auto;
  color: $highlightedColor;

  img {
    height: 30px;
  }
}

.location-tips-heading, .event-tips-heading, .tour-tips-heading {
  display: flex;
  align-items: center;
  max-width: 60%;
  font-size: 1em;
  text-transform: uppercase;
}
