body.overflow-hidden {
  overflow: hidden;

  overscroll-behavior: contain;
}

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh;
}

.location-entity-wrapper {
  display: none;
  position: absolute;
  top: 100vh;
  z-index: 3;
  width: 100vw;
  min-height: 7em;
  padding-bottom: 1em;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);

  scroll-behavior: smooth;

  &.show {
    display: block;
  }

  &.transition {
    transition: top 250ms ease;
  }

  &.show-complete {
    top: 0;
    bottom: unset;
    height: 100vh;
    //height of nav
    padding-bottom: 56px !important;
    overflow: auto;

    .location-entity-holder .location-entity-grabble {
      transform: rotate(-90deg);
    }
  }

  h2 {
    padding-top: 21px;
  }

  .location-entity-holder {
    display: flex;
    position: fixed;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: -1px;
    background-color: #fff;

    .location-entity-grabble {
      width: auto;
      height: 80%;
      margin: 0 auto;
      transform: rotate(90deg);

      path {
        stroke: $highlightedColor;
      }
    }

    .location-entity-shareButton, .location-entity-markButton {
      position: absolute;
      width: 30px;
      height: 70%;

      &.hide {
        display: none;
      }
    }

    .location-entity-markButton {
      right: 60px;
    }

    .location-entity-shareButton {
      right: 20px;
    }
  }

  .location-entity-content {
    .hide {
      display: none;
    }

    .location-entity-collapsed-text {
      padding: 0 1.5em;

      .entity-collapsed-address, .entity-collapsed-zipCode {
        color: #747474;
        font-size: .8em;
      }
    }

    .location-entity-open-text {
      display: flex;
      flex-direction: column;
      padding: 0 1.5em 1em 1.5em;

      &.hide {
        display: none;
      }

      .entity-open-heading {
        margin: 1.5em 0;
        text-transform: uppercase;
      }

      .entity-open-description {
        display: -webkit-box;
        width: 75%;
        overflow: hidden;
        color: #747474;
        font-size: .8em;

        -webkit-box-orient: vertical;
           -moz-box-orient: vertical;
        -webkit-line-clamp: 2;
           -moz-line-clamp: 2;
      }

      .entity-show-more {
        display: flex;
        align-items: center;
        margin-top: .5em;
        margin-left: auto;
        color: $highlightedColor;
        font-family: "Oxygen-Bold";
        font-size: .8em;

        &::after {
          display: inline-block;
          width: 1em;
          height: 1em;
          padding-bottom: 10px;
          content: url("/public/assets/images/icons/route-green.svg");
          transform: rotate(90deg);
        }
      }
    }

    .location-entity-full-text {
      background-color: #fff;

      .location-entity-keydata {
        > span {
          display: flex;
          align-items: center;
          padding: 1em 0;
          color: #747474;
          border-top: 1px solid #e7e7e7;

          &.hide {
            display: none;
          }

          &:last-child {
            border-bottom: 1px solid #e7e7e7;
          }

          &.entity-full-address::before {
            content: url("/public/assets/images/icons/location-green.svg");
          }

          &.entity-full-openingHours::before {
            content: url("/public/assets/images/icons/time-green.svg");
          }

          &.entity-full-phone::before {
            content: url("/public/assets/images/icons/phone-green.svg");
          }

          &.entity-full-web::before {
            content: url("/public/assets/images/icons/global-green.svg");
          }

          &.entity-full-owner::before {
            content: url("/public/assets/images/icons/owner-green.svg");
          }

          &::before {
            width: 1em;
            height: 1em;
            padding-right: 1.5em;
            padding-left: 1.5em;
          }
        }
      }


      .entity-full-images {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 2em 1.5em 0 1.5em;
        overflow-x: auto;

        img {
          height: 100px;
          min-width: 11em;
          margin-right: 20px;
          border-radius: 5px;
          //width: 100%;

          object-fit: cover;
        }
      }

      .map-entity-events {
        padding: 0 1.5em;
        margin-top: 2em;
        cursor: pointer;

        .eventColumn {
          width: auto;
          margin-top: 1em;
          border-radius: 5px;

          .eventInfo {
            flex: 1;
          }

          .eventMenu {
            align-self: flex-start;
            cursor: default;

            &::after {
              display: inline-block;
              width: 4px;
              height: 18px;
              padding: 1em 1em 1em .2em;
              content: url("/public/assets/images/icons/menu-green.svg");
            }
          }
        }
      }

      .entity-full-text {
        padding: 0 1.5em;
        margin: 2em 0;

        > p {
          margin: 1em 0;
          color: #747474;
          font-size: .8em;
        }
      }

      .event-menu-content {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        padding: 1.5em;
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

        &.hide {
          display: none;
        }

        .entity-event-share, .entity-event-export, .entity-event-bookmark {
          display: flex;
          align-items: center;
          color: #747474;
          font-size: .8em;

          &:not(:last-child):not(:first-child) {
            margin: 1.5em 0;
          }

          &::before {
            width: 1.5em;
            height: 1.5em;
            padding-right: 1.5em;
          }
        }

        .entity-event-share::before {
          content: url("/public/assets/images/icons/share-green.svg");
        }

        .entity-event-export::before {
          content: url("/public/assets/images/icons/export-green.svg");
        }

        .entity-event-bookmark::before {
          content: url("/public/assets/images/icons/heart-green.svg");
        }

        .entity-event-bookmark.marked::before {
          content: url("/public/assets/images/icons/heart-full-green.svg");
        }
      }
    }

    .location-entity-createRoute {
      &::after {
        width: 1em;
        height: 1em;
        content: url("/public/assets/images/icons/route-white.svg");
      }

      &.hide {
        display: none;
      }
    }
  }
}

.location-routing {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 10000;
  width: 100%;
  padding: 1.5em;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  transform: translateY(0px);
  transition: transform .3s ease-out;
  visibility: visible;

  &.transitionOut {
    transform: translateY(-200px);
  }

  &.hide {
    visibility: hidden;
  }

  .create-routing-back {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30px;
    height: 100%;
    background: 0 0;
    border: none;

    &::after {
      width: 17px;
      height: 24px;
      content: url("/public/assets/images/icons/arrow.svg");
    }
  }

  .create-routing-symbol {
    align-self: center;
    width: 1.5em;
    max-height: 70px;
    margin: 0 .5em;

    img {
      max-height: 70px;
    }
  }

  .create-routing-inputs {
    position: relative;
    flex: 1;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
      max-width: none;
      margin-bottom: .5em;
      box-shadow: none;

      input {
        padding: 1em 5em 1em 1em;
      }

      .geocoder-icon-search {
        display: none;
      }

      .geocoder-icon-close, .geocoder-icon-loading {
        right: 3.5em;
        background-color: #f2f2f2;
      }
    }

    input {
      display: block;
      width: 100%;
      padding: 1em;
      text-overflow: ellipsis;
      background-color: #f2f2f2;
      border: none;
      border-radius: 5px;
    }

    .mapboxgl-ctrl-group {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10000;
      background: none;
      box-shadow: none;
      border-radius: 50%;

      .mapboxgl-ctrl-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;

        &::before {
          width: 28px;
          height: 28px;
          content: url("/public/assets/images/icons/geolocate.svg");
          background-image: none;
        }

        &:hover {
          background: none;
        }
      }
    }
  }

  .create-routing-menu {
    margin-left: 1em;

    &::after {
      display: inline-block;
      width: 4px;
      height: 18px;
      content: url("/public/assets/images/icons/menu-green.svg");
    }
  }
}


.marker {
  width: 28px;
  height: 38px;
  background-size: cover;
  transition: height .3s, width .3s;
  cursor: pointer;

  &.hide {
    display: none;
  }

  &.shop {
    background-image: url("/public/assets/images/marker/shop.svg");

    &.openPreview {
      z-index: 1;
      width: 34px;
      height: 46px;
      background-image: url("/public/assets/images/marker/shop-green.svg");
    }
  }

  &.dinner {
    background-image: url("/public/assets/images/marker/dinner.svg");

    &.openPreview {
      z-index: 1;
      width: 34px;
      height: 46px;
      background-image: url("/public/assets/images/marker/dinner-green.svg");
    }
  }

  &.leisure {
    background-image: url("/public/assets/images/marker/leisure.svg");

    &.openPreview {
      z-index: 1;
      width: 34px;
      height: 46px;
      background-image: url("/public/assets/images/marker/leisure-green.svg");
    }
  }

  &.greenLocation {
    background-image: url("/public/assets/images/marker/greenLocation.svg");

    &.openPreview {
      z-index: 1;
      width: 34px;
      height: 46px;
      background-image: url("/public/assets/images/marker/greenLocation-green.svg");
    }
  }

  &.orga {
    background-image: url("/public/assets/images/marker/orga.svg");

    &.openPreview {
      z-index: 1;
      width: 34px;
      height: 46px;
      background-image: url("/public/assets/images/marker/orga-green.svg");
    }
  }

  &.onHold {
    z-index: 1;
    width: 27px;
    height: 35px;
    background-image: url("/public/assets/images/marker/map-full-green.svg");
  }
}

.end-marker {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 4px solid $highlightedColor;
  border-radius: 50%;

  &.hide {
    display: none;
  }
}

.topSearch {
  position: absolute;
  top: 1em;
  right: 0;
  left: 0;
  z-index: 2;
  width: 70%;
  max-width: 30rem;
  margin: auto;

  .search {
    display: flex;
    position: relative;
    align-items: center;

    .searchLocations {
      padding-right: 2.5em;
      text-overflow: ellipsis;
      background-color: #fff;
    }

    .search-results {
      display: block;
      position: absolute;
      top: 3em;
      left: 0;
      width: 100%;
      background-color: #fff;
      border-radius: 5px;

      &.hide {
        display: none;
      }

      > li {
        padding: 1em;
        font-size: .8em;
        list-style: none;

        &:not(:last-child) {
          border-bottom: 1px solid #f2f2f2;
        }
      }
    }

    .mapboxgl-ctrl-group {
      position: absolute;
      top: 4px;
      right: 4px;
      margin-left: .5em;
      box-shadow: none;
      border-radius: 50%;


      .mapboxgl-ctrl-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;

        &::before {
          width: 28px;
          height: 28px;
          content: url("/public/assets/images/icons/geolocate.svg");
          background-image: none;
        }

        &:hover {
          background: none;
        }
      }
    }
  }
}

.wrapping-filter {
  $time2: 0;
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 80px;
  align-items: center;
  flex-direction: column;
  @for $var from 1 to 6 {
    $time2: $time2 + .1;
    &.showElements > button:nth-child(#{$var}) {
      transition: transform #{0.6 - $time2}s, opacity #{0.6 - $time2}s, visibility #{0.6 - $time2}s;
    }
  }

  &.showElements > button:not(.filter-add) {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  &.hideElements > button:not(.filter-add):not(.active) {
    display: none;
  }

  > button {
    $time: 0;
    position: relative;
    right: unset;
    bottom: unset;
    @for $var from 1 to 6 {
      $time: $time + .1;
      &:nth-child(#{$var}) {
        transition: transform #{$time}s ease-in-out, opacity #{$time}s ease-in-out, visibility #{$time}s ease-in-out;
      }
    }

    &:not(.filter-add) {
      display: flex;
      width: 35px;
      height: 35px;
      background-color: #fff;
      transform: scale(.5);
      opacity: 0;
      visibility: hidden;

      &.hide {
        display: none;
      }
    }

    &.active {
      display: flex;
      background-color: $highlightedColor;
      transform: scale(1);
      opacity: 1;
      visibility: visible;

      &.filter-shop::after {
        content: url("/public/assets/images/icons/shop-white.svg");
      }

      &.filter-dinner::after {
        content: url("/public/assets/images/icons/dinner-white.svg");
      }

      &.filter-greenLocation::after {
        content: url("/public/assets/images/icons/greenLocation-white.svg");
      }

      &.filter-orga::after {
        content: url("/public/assets/images/icons/orga-white.svg");
      }

      &.filter-leisure::after {
        content: url("/public/assets/images/icons/leisure-white.svg");
      }
    }

    &:not(.filter-add)::after {
      width: 50%;
      height: 50%;
    }
  }

  .filter-add {
    transition: background-color .3s;

    &::after {
      width: 1em;
      height: 1em;
      content: url("/public/assets/images/icons/filter-white.svg");
    }

    &.open {
      &::after {
        content: url("/public/assets/images/icons/filter-check-white.svg");
      }
    }
  }

  > button:not(:first-child) {
    margin-top: .4em;
  }

  .filter-shop::after {
    content: url("/public/assets/images/icons/shop-green.svg");
  }

  .filter-dinner::after {
    content: url("/public/assets/images/icons/dinner-green.svg");
  }

  .filter-greenLocation::after {
    content: url("/public/assets/images/icons/greenLocation-green.svg");
  }

  .filter-orga::after {
    content: url("/public/assets/images/icons/orga-green.svg");
  }

  .filter-leisure::after {
    content: url("/public/assets/images/icons/leisure-green.svg");
  }
}

.addLocationLayer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 10em;
  min-height: 7em;
  margin-bottom: 56px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  transition: transform .3s ease-out;
  opacity: 1;
  visibility: visible;

  &.hide {
    display: none;
    transform: translateY(10em);
    opacity: 0;
    visibility: hidden;
  }

  .addressOnHold {
    margin-top: 1em;
    text-align: center;
  }

  .addLocationLayer-text {
    display: block;
    font-size: .8em;
    text-align: center;
  }

  .button {
    display: block;
    max-width: 18rem;
    padding: .8em 2em;
    margin-bottom: .5em;
    color: #fff;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    background-color: $highlightedColor;
    border-radius: 5px;
  }
}

.tourButton {
  display: flex;
  position: absolute;
  top: 5px;
  left: -3em;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 2.5em;
  height: 2.5em;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    width: 13px;
    height: 25px;
    content: url("/public/assets/images/icons/tour-green.svg");
  }
}

.eventInfo {
  flex: 1;
}

.eventMenu {
  align-self: flex-start;
  cursor: default;

  &::after {
    display: inline-block;
    width: 4px;
    height: 18px;
    padding: 1em 1em 1em .2em;
    content: url("/public/assets/images/icons/menu-green.svg");
  }
}

.event-menu-content {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 1.5em;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  &.hide {
    display: none;
  }

  .entity-event-share, .entity-event-export, .entity-event-bookmark {
    display: flex;
    align-items: center;
    color: #747474;
    font-size: .8em;

    &:not(:last-child):not(:first-child) {
      margin: 1.5em 0;
    }

    &::before {
      width: 1.5em;
      height: 1.5em;
      padding-right: 1.5em;
    }
  }

  .entity-event-share::before {
    content: url("/public/assets/images/icons/share-green.svg");
  }

  .entity-event-export::before {
    content: url("/public/assets/images/icons/export-green.svg");
  }

  .entity-event-bookmark::before {
    content: url("/public/assets/images/icons/heart-green.svg");
  }

  .entity-event-bookmark.marked::before {
    content: url("/public/assets/images/icons/heart-full-green.svg");
  }
}
