body.overflow-hidden {
  overflow: hidden;
  overscroll-behavior: contain;
}

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh;
}

.location-entity-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  padding-bottom: 1em;
  z-index: 3;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  overflow: hidden;
  scroll-behavior: smooth;
  top: 100vh;
  min-height: 7em;

  &.show {
    display: block;
  }

  &.transition {
    transition: top 250ms ease;
  }

  &.show-complete {
    top: 0;
    height: 100vh;
    bottom: unset;
    overflow: auto;
    //height of nav
    padding-bottom: 56px !important;

    .location-entity-holder .location-entity-grabble {
      transform: rotate(-90deg);
    }
  }

  h2 {
    padding-top: 21px;
  }

  .location-entity-holder {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    align-items: center;
  
    .location-entity-grabble {
      height: 80%;
      width: auto;
      transform: rotate(90deg);
      margin: 0 auto;

      path {
        stroke: $highlightedColor;
      }
    }

    .location-entity-shareButton, .location-entity-markButton {
      position: absolute;
      height: 70%;
      width: 30px;

      &.hide {
        display: none;
      }
    }

    .location-entity-markButton {
      right: 60px;
    }

    .location-entity-shareButton {
      right: 20px;
    }
  }

  .location-entity-content {
    margin-top: 1em;
    
    .hide {
      display: none;
    }

    .location-entity-collapsed-text {
      padding: 0 1.5em;

      .entity-collapsed-address, .entity-collapsed-zipCode {
        font-size: 0.8em;
        color: #747474;
      }
    }

    .location-entity-open-text {
      padding: 0 1.5em 1em 1.5em;
      display: flex;
      flex-direction: column;

      &.hide {
        display: none;
      }

      .entity-open-heading {
        text-transform: uppercase;
      }
    
      .entity-open-description {
        font-size: 0.8em;
        margin-top: 0.5em;
        color: #747474;
        width: 75%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical;  
      }

      .entity-show-more {
        margin-top: 0.5em;
        color: $highlightedColor;
        margin-left: auto;
        font-family: 'Oxygen-Bold';
        font-size: 0.8em;

        &::after {
          content: "P";
          padding-left: 10px;
          
        }
      }
    }

    .location-entity-full-text {
      background-color: #ffffff;

      .location-entity-keydata {
        > span {
          color: #747474;
          border-top: 1px solid #e7e7e7;
          display: flex;
          padding: 1em 0;
          align-items: center;

          &.hide {
            display: none;
          }

          &:last-child {
            border-bottom: 1px solid #e7e7e7;
          }
  
          &.entity-full-address::before {
            content: url("/public/assets/images/icons/location-green.svg");
          }

          &.entity-full-openingHours::before {
            content: url("/public/assets/images/icons/time-green.svg");
          }

          &.entity-full-phone::before {
            content: url("/public/assets/images/icons/phone-green.svg");
          }

          &.entity-full-web::before {
            content: url("/public/assets/images/icons/global-green.svg");
          }

          &.entity-full-owner::before {
            content: url("/public/assets/images/icons/owner-green.svg");
          }

          &::before {
            padding-right: 1.5em;
            padding-left: 1.5em;
            height: 1em;
            width: 1em;
          }
        }
      }


      .entity-full-images {
        margin: 2em 1.5em 0 1.5em;
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;  
        overflow-x: auto;
      
        img {
          min-width: 11em;
          height: 100px;
          //width: 100%;
          object-fit: cover;
          border-radius: 5px;
          margin-right: 20px;
        }
      }

      .map-entity-events {
        margin-top: 2em;
        padding: 0 1.5em;
        cursor: pointer;

        .eventColumn {
          margin-top: 1em;
          border-radius: 5px;
          width: auto;

          .eventInfo {
            flex: 1;
          }

          .eventMenu {
            align-self: flex-start;
            cursor: default; 

            &::after {
              content: url("/public/assets/images/icons/menu-green.svg");
              width: 4px;
              height: 18px;
              display: inline-block;
              padding: 1em 1em 1em 0.2em;
            }
          }
        }
      }

      .entity-full-text {
        margin: 2em 0;
        padding: 0 1.5em;

        > p {
        margin: 1em 0;
        font-size: 0.8em;
        color: #747474;
        }
      }

      .event-menu-content {
        position: absolute;
        background-color: #fff;
        z-index: 5;
        top: 0;
        right: 0;
        padding: 1.5em;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
        display: block;

        &.hide {
          display: none;
        }

        .entity-event-share, .entity-event-export, .entity-event-bookmark {
          display: flex;
          font-size: 0.8em;
          color: #747474;
          align-items: center;

          &:not(:last-child):not(:first-child) {
            margin: 1.5em 0;
          }

           &::before {
            padding-right: 1.5em;
            height: 1.5em;
            width: 1.5em;
          }
        }

        .entity-event-share::before {
          content: url("/public/assets/images/icons/share-green.svg");
        }

        .entity-event-export::before {
          content: url("/public/assets/images/icons/export-green.svg");
        }

        .entity-event-bookmark::before {
          content: url("/public/assets/images/icons/heart-green.svg");
        }

        .entity-event-bookmark.marked::before {
          content: url("/public/assets/images/icons/heart-full-green.svg");
        }
      }
    }
  
    .location-entity-createRoute {    
      img {
        height: 60%;
        width: 60%;
      }

      &.hide {
        display: none;
      }
    }
  }
}

.location-routing {
  background-color: #fff;
  position: absolute;
  z-index: 10000;
  top: 0;
  display: flex; 
  padding: 1.5em;
  width: 100%;
  transition: transform 0.3s ease-out;
  transform: translateY(0px);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  visibility: visible;

  &.transitionOut {
    transform: translateY(-200px);
  }

  &.hide {
    visibility: hidden;
  }

  .create-routing-back {
    width: 30px;
    border: none;
    background: 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    
    &::after {
      content: url("/public/assets/images/icons/arrow.svg");
      width: 17px;
      height: 24px;
    }
  }

  .create-routing-symbol {
    width: 1.5em;
    margin: 0 0.5em;
    max-height: 70px;
    align-self: center;

    img {
      max-height: 70px;
    }
  }

  .create-routing-inputs {
    flex: 1;
    position: relative;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
      box-shadow: none;
      margin-bottom: 0.5em;
      max-width: none;

      input {
        padding: 1em 5em 1em 1em;
      }

      .geocoder-icon-search {
        display: none;
      }

      .geocoder-icon-close, .geocoder-icon-loading {
        background-color: #fff;
        right: 3.5em;
      }
    }

    input {
      display: block;
      padding: 1em;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #f2f2f2;
      text-overflow: ellipsis;
    }

    .mapboxgl-ctrl-group {
      border-radius: 50%;
      position: absolute;
      right: 4px;
      top: 4px;
      z-index: 10000;
      background: none;
      box-shadow: none;

      .mapboxgl-ctrl-icon {
        height: 2.5em;
        width: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          background-image: none;
          content: url("/public/assets/images/icons/geolocate.svg");
          height: 28px;
          width: 28px;
        }

        &:hover {
          background: none;
        }
      }
    }
  }

  .create-routing-menu {
    margin-left: 0.5em;
  }
}


.marker {
  background-size: cover;
  height: 38px;
  width: 28px;
  cursor: pointer;
  transition: height 0.3s, width 0.3s;

  &.hide {
    display: none;
  }

  &.shop {
    background-image: url('/public/assets/images/marker/shop.svg');

    &.openPreview {
      background-image: url('/public/assets/images/marker/shop-green.svg');
      height: 46px;
      width: 34px;
      z-index: 1;
    }
  }

  &.dinner {
    background-image: url('/public/assets/images/marker/dinner.svg');

    &.openPreview {
      background-image: url('/public/assets/images/marker/dinner-green.svg');
      height: 46px;
      width: 34px;
      z-index: 1;
    }
  }

  &.leisure {
    background-image: url('/public/assets/images/marker/leisure.svg');

    &.openPreview {
      background-image: url('/public/assets/images/marker/leisure-green.svg');
      height: 46px;
      width: 34px;
      z-index: 1;
    }
  }

  &.greenLocation {
    background-image: url('/public/assets/images/marker/greenLocation.svg');

    &.openPreview {
      background-image: url('/public/assets/images/marker/greenLocation-green.svg');
      height: 46px;
      width: 34px;
      z-index: 1;
    }
  }

  &.orga {
    background-image: url('/public/assets/images/marker/orga.svg');

    &.openPreview {
      background-image: url('/public/assets/images/marker/orga-green.svg');
      height: 46px;
      width: 34px;
      z-index: 1;
    }
  }
}

.end-marker {
  height: 15px;
  width: 15px;
  background-color: #ac39ac;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    background-color: rgba(172, 57, 172, 0.5);
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  &.hide {
    display: none;
  }
}

.topSearch {
  margin: auto;
  display: flex;
  width: 80%;
  max-width: 30rem;
  position: absolute;
  top: 1em;
  z-index: 2;
  right: 0;
  left: 0;
  align-items: center;

  .search {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    .searchLocations {
      background-color: #fff;
      padding-right: 2.5em;
      text-overflow: ellipsis;
    }

    .search-results {
      background-color: #fff;
      border-radius: 5px;
      position: absolute;
      left: 0;
      width: 100%;
      top: 3em;
      display: block;

      &.hide {
        display: none;
      }

      > li {
        list-style: none;
        font-size: 0.8em;
        padding: 1em;

        &:not(:last-child) {
          border-bottom: 1px solid #f2f2f2;
        }
      }
    }

    .mapboxgl-ctrl-group {
      border-radius: 50%;
      margin-left: 0.5em;
      box-shadow: none;
      position: absolute;
      right: 4px;
      top: 4px;


      .mapboxgl-ctrl-icon {
        height: 2.5em;
        width: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          background-image: none;
          content: url("/public/assets/images/icons/geolocate.svg");
          height: 28px;
          width: 28px;
        }

        &:hover {
          background: none;
        }
      }
    }
  }
}

.wrapping-filter {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 80px;
  right: 20px;
  align-items: center;

  $time2: 0;
  @for $var from 1 to 6 {
    $time2: $time2 + 0.1;
    &.showElements > button:nth-child(#{$var}){
      transition: transform #{0.6 - $time2}s, opacity #{0.6 - $time2}s, visibility #{0.6 - $time2}s;

    }
  }

  &.showElements > button:not(.filter-add){
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  } 

  &.hideElements > button:not(.filter-add):not(.active){
    display: none;
  }

  > button {
    position: relative;
    right: unset;
    bottom: unset;

    $time: 0;
    @for $var from 1 to 6 {
      $time: $time + 0.1;
      &:nth-child(#{$var}){
        transition: transform #{$time}s ease-in-out, opacity #{$time}s ease-in-out, visibility #{$time}s ease-in-out;
      }
    }

    &:not(.filter-add) {
      height: 35px;
      width: 35px;
      background-color: #fff;
      display: flex;
      opacity: 0;
      transform: scale(0.5);
      visibility: hidden;

      &.hide {
        display: none;

      }
    }

    &.active {
      background-color: $highlightedColor;
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      display: flex;

      &.filter-shop::after {
        content: url('/public/assets/images/icons/shop-white.svg');
      }
    
      &.filter-dinner::after {
        content: url('/public/assets/images/icons/dinner-white.svg');
      }
    
      &.filter-greenLocation::after {
        content: url('/public/assets/images/icons/greenLocation-white.svg');
      }
    
      &.filter-orga::after {
        content: url('/public/assets/images/icons/orga-white.svg');
      }
    
      &.filter-leisure::after {
        content: url('/public/assets/images/icons/leisure-white.svg');
      }
    }

    &:not(.filter-add)::after {
      height: 50%;
      width: 50%;
    }
  }

  .filter-add {
    transition: background-color 0.3s;

    &.open {
      background-color: #FF6347;
    }
  }

  > button:not(:first-child) {
    margin-top: 0.4em;
  }

  .filter-shop::after {
    content: url('/public/assets/images/icons/shop-green.svg');
  }

  .filter-dinner::after {
    content: url('/public/assets/images/icons/dinner-green.svg');
  }

  .filter-greenLocation::after {
    content: url('/public/assets/images/icons/greenLocation-green.svg');
  }

  .filter-orga::after {
    content: url('/public/assets/images/icons/orga-green.svg');
  }

  .filter-leisure::after {
    content: url('/public/assets/images/icons/leisure-green.svg');
  }
}