.floatingButton{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.eventColumn{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background-color: #F6F7F9;
  border-radius: 5px;
}

.eventDates{
  margin: 5px;
  padding: 5px;
  
}

.eventList{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.eventList h3 {
  margin-bottom: 6px;
}

#events{
  margin-bottom: 50px;
}