.floatingButton.addEvent {
	background-color:#0C9;
}

.eventColumn{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95vw;
  padding: 1em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: rgb(232, 234, 236);
}
.eventDate{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.daydate{
  font-size: 2em;
}
.eventInfo{
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.event{
  //width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}
.eventimg{
  margin-top: 1em;
  width: 95vw;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.eventInfo h4 {
  margin-bottom: 0.5em;
}
.events{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
#events{
  margin-bottom: 3em;
}
@media only screen and (min-width: 768px){
  .events{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 500px;
  }
  .eventColumn, .eventimg{
    width: 500px;
}
}