$highlightedColor: #e66740;


body.overflow-hidden {
  overflow: hidden;
  overscroll-behavior: contain;
}

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh;
}

.leaflet-top.leaflet-right {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 990;
  align-items: center;

  .leaflet-routing-container {
    display: none; 
  }

  .leaflet-control-geocoder {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    background-color: rgb(248, 248, 248);

    .leaflet-control-geocoder-icon {
      display: none;
    }

    .leaflet-control-geocoder-form {
      padding: 10px;
      font-size: 0.7em;

      &::after {
        content:"A";
        color: $highlightedColor;
        height: 75%;
        width: auto;
        position: absolute;
        right: 1em;
      }
    }

    .leaflet-control-geocoder-alternatives {
      position: absolute;
      background-color: #fff;
      top: 0;
      transform: translateY(2.2rem);
    }
  }

  .leaflet-control-locate {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);

    a.leaflet-bar-part {
      border-radius: 50%;
      width: 20px;
      height: 20px;

      svg.icon-geolocate-svg {
        transform: scale(0.8);

        path, circle {
          stroke: #e66740;
        }
      }
    }
  }
}

.add-location {
  width: 30px;
  height: 30px;
  background-color: $highlightedColor;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: 9998;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  cursor: pointer;
  color:#fff;
}

.location-item-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  top: 75vh;
  z-index: 10001;
  padding-bottom: 56px;
  box-shadow: 0 -6px 8px 0 rgba(0,0,0,.05);
  overflow: hidden;

  &.show {
    display: block;
  }

  &.transition {
    transition: top 250ms ease;
  }

  &.show-complete {
    top: 0;
    height: 100vh;
    bottom: unset;
    overflow: auto;

    .location-item-holder .location-item-grabble {
      transform: scale(1.5) rotate(180deg);
    }
  }

  &.on-translate {
    //opacity: 0.8;

    & + .location-item-placeholder {
      //@debugopacity: 0.8;
    }
  }

  h2 {
    padding-top: 21px;
  }

  .location-item-holder {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    align-items: center;
  
    .location-item-grabble {
      height: 100%;
      width: auto;
      transform: scale(1.5);
      margin: 0 auto;

      path {
        stroke: $highlightedColor;
      }
    }

    .location-item-shareButton, .location-item-markButton {
      position: absolute;
      height: 80%;
      width: 30px;

      svg {
        transform: scale(0.8);
      }
      path, circle {
        stroke: $highlightedColor;
      }

      &.hide {
        display: none;
      }
    }

    .location-item-markButton {
      right: 60px;
    }

    .location-item-shareButton {
      right: 20px;
    }
  }

  & + .location-item-placeholder {
    position: absolute;
    width: 100vw;
    background-color: #fff;
    bottom: 1px;
    z-index: 10000;
  }

  .location-item-content {
    
    .hide {
      display: none;
    }

    .location-item-collapsed-text {
      padding: 0 30px;
    }

    .location-item-open-text {
      padding: 0 30px;
      display: flex;
      flex-direction: column;

      &.hide {
        display: none;
      }
    
      .entity-open-description {
        width: 75%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical;  
      }

      .entity-show-more {
        color: $highlightedColor;
        margin-left: auto;

        &::after {
          content: "P";
          padding-left: 10px;
          
        }
      }
    }

    .location-item-full-text {
      padding: 0 30px 60px 30px;

      > span {
        border-top: 1px solid grey;
        display: flex;
        padding: 10px 0;
        align-items: center;

        &::before {
          content: "U";
          padding-right: 30px;
          padding-left: 30px;
          color: $highlightedColor;
        }
      }

      .entity-full-images {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;  
        overflow-x: auto;
      
        img {
          min-width: 11em;
          height: 100px;
          //width: 100%;
          object-fit: cover;
          border-radius: 5px;
          margin-right: 20px;
        }
      }
    }
  
    .location-item-createRoute {
      width: 30px;
      height: 30px;
      background-color: $highlightedColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8em;
      cursor: pointer;
      position: absolute;
      bottom: 90px;
      right: 20px;
    
      svg {
        height: 100%;
        width: 100%;
      }
  
      path {
        stroke: #fff;
      }

      &.hide {
        display: none;
      }
    }
  }
}