$highlightedColor: #e66740;


body.overflow-hidden {
  overflow: hidden;
  overscroll-behavior: contain;
}

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh;
}

.leaflet-top.leaflet-right {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 990;
  align-items: center;

  .leaflet-routing-container {
    display: none; 
  }

  .leaflet-control-geocoder {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    background-color: rgb(248, 248, 248);

    .leaflet-control-geocoder-icon {
      display: none;
    }

    .leaflet-control-geocoder-form {
      padding: 10px;
      font-size: 0.7em;

      &::after {
        content:"A";
        color: $highlightedColor;
        height: 75%;
        width: auto;
        position: absolute;
        right: 1em;
      }
    }

    .leaflet-control-geocoder-alternatives {
      position: absolute;
      background-color: #fff;
      top: 0;
      transform: translateY(2.2rem);
    }
  }

  .leaflet-control-locate {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);

    a.leaflet-bar-part {
      border-radius: 50%;
      width: 20px;
      height: 20px;

      svg.icon-geolocate-svg {
        transform: scale(0.8);

        path, circle {
          stroke: #e66740;
        }
      }
    }
  }
}

.location-entity-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  padding-bottom: 1em;
  z-index: 10001;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
  overflow: hidden;
  scroll-behavior: smooth;

  &.show {
    display: block;
  }

  &.transition {
    transition: top 250ms ease;
  }

  &.show-complete {
    top: 0;
    height: 100vh;
    bottom: unset;
    overflow: auto;
    //height of nav
    padding-bottom: 56px !important;

    .location-entity-holder .location-entity-grabble {
      transform: scale(1.5) rotate(180deg);
    }
  }

  h2 {
    padding-top: 21px;
  }

  .location-entity-holder {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    align-items: center;
  
    .location-entity-grabble {
      height: 100%;
      width: auto;
      transform: scale(1.5);
      margin: 0 auto;

      path {
        stroke: $highlightedColor;
      }
    }

    .location-entity-shareButton, .location-entity-markButton {
      position: absolute;
      height: 80%;
      width: 30px;

      svg {
        transform: scale(0.8);
      }
      path, circle {
        stroke: $highlightedColor;
      }

      &.hide {
        display: none;
      }
    }

    .location-entity-markButton {
      right: 60px;
    }

    .location-entity-shareButton {
      right: 20px;
    }
  }

  & + .location-entity-placeholder {
    position: absolute;
    width: 100vw;
    background-color: #fff;
    bottom: 1px;
    z-index: 10000;
  }

  .location-entity-content {
    margin-top: 1em;
    
    .hide {
      display: none;
    }

    .location-entity-collapsed-text {
      padding: 0 1.5em;

      .entity-collapsed-address, .entity-collapsed-zipCode {
        font-size: 0.8em;
        color: #747474;
      }
    }

    .location-entity-open-text {
      padding: 0 1.5em;
      display: flex;
      flex-direction: column;

      &.hide {
        display: none;
      }

      .entity-open-heading {
        text-transform: uppercase;
      }
    
      .entity-open-description {
        font-size: 0.8em;
        margin-top: 0.5em;
        color: #747474;
        width: 75%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical;  
      }

      .entity-show-more {
        margin-top: 0.5em;
        color: $highlightedColor;
        margin-left: auto;

        &::after {
          content: "P";
          padding-left: 10px;
          
        }
      }
    }

    .location-entity-full-text {
      //padding: 0 30px 60px 30px;

      .location-entity-keydata {
        > span {
          color: #747474;
          border-top: 1px solid #e7e7e7;
          display: flex;
          padding: 1em 0;
          align-items: center;

          &:last-child {
            border-bottom: 1px solid #e7e7e7;
          }
  
          &::before {
            content: "U";
            padding-right: 1.5em;
            padding-left: 1.5em;
            color: $highlightedColor;
          }
        }
      }


      .entity-full-images {
        margin: 2em 1.5em 0 1.5em;
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;  
        overflow-x: auto;
      
        img {
          min-width: 11em;
          height: 100px;
          //width: 100%;
          object-fit: cover;
          border-radius: 5px;
          margin-right: 20px;
        }
      }

      .map-entity-events {
        margin-top: 2em;
        padding: 0 1.5em;

        .eventColumn {
          margin-top: 1em;
          border-radius: 5px;
          width: auto;

          .eventInfo {
            flex: 1;
          }

          .eventMenu {
            color: $highlightedColor;
            align-self: flex-start;

            &:after {
              content: "I";
            }
          }
        }
      }

      .entity-full-text {
        margin: 2em 0;
        padding: 0 1.5em;

        > p {
        margin: 1em 0;
        font-size: 0.8em;
        color: #747474;
        }
      }

      .event-menu-content {
        position: absolute;
        background-color: #fff;
        z-index: 10002;
        top: 0;
        right: 0;
        padding: 1.5em;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
        display: block;

        &.hide {
          display: none;
        }

        .entity-event-share, .entity-event-export, .entity-event-bookmark {
          display: block;
          font-size: 0.8em;
          color: #747474;

          &:not(:last-child):not(:first-child) {
            margin: 1.5em 0;
          }

           &:before {
            padding-right: 1.5em;
            color: $highlightedColor;
          }
        }

        .entity-event-share:before {
          content: "T";
        }

        .entity-event-export:before {
          content: "R";
        }

        .entity-event-bookmark:before {
          content: "S";
        }
      }
    }
  
    .location-entity-createRoute {    
      svg {
        height: 60%;
        width: 60%;
      }
  
      path {
        stroke: #fff;
      }

      &.hide {
        display: none;
      }
    }
  }
}

.location-routing {
  background-color: #fff;
  position: absolute;
  z-index: 10000;
  top: 0;
  display: flex; 
  padding: 1.5em;
  width: 100%;
  transition: transform 0.3s ease-out;
  transform: translateY(0px);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);

  &.transitionOut {
    transform: translateY(-200px);
  }

  &.hide {
    display: none;
  }

  .create-routing-back {
    width: 30px;

    .c-r-back-symbol {
      height: auto;
      width: 100%;
      transform: scale(1.5) rotate(-90deg);

      path {
        stroke: #e66740
      }
    }
  }

  .create-routing-symbol {
    width: 1.5em;
    background-color: green;
    margin: 0 0.5em;
  }

  .create-routing-inputs {
    flex: 1;

    .mapboxgl-ctrl-geocoder {
      width: 100%;
      box-shadow: none;
      margin-bottom: 0.5em;

      .geocoder-icon-search {
        display: none;
      }

      .geocoder-icon-close, .geocoder-icon-loading {
        background-color: #f2f2f2
      }
    }

    input {
      display: block;
      width: 100%;
      padding: 1em;
      border: none;
      border-radius: 5px;
      background-color: #f2f2f2;
    }
  }

  .create-routing-menu {
    margin-left: 0.5em;
  }
}


.marker {
  background-size: cover;
  height: 38px;
  width: 28px;
  cursor: pointer;

  &.shop {
    background-image: url('/public/assets/images/marker/shop.svg');
  }

  &.dinner {
    background-image: url('/public/assets/images/marker/dinner.svg');
  }

  &.leisure {
    background-image: url('/public/assets/images/marker/leisure.svg');
  }

  &.greenLocation {
    background-image: url('/public/assets/images/marker/greenLocation.svg');
  }

  &.orga {
    background-image: url('/public/assets/images/marker/orga.svg');
  }
}

.topSearch {
  margin: auto;
  display: flex;
  width: 80%;
  max-width: 30rem;
  position: absolute;
  top: 1em;
  z-index: 9997;
  right: 0;
  left: 0;
  align-items: center;

  .search {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    &:after {
      content: "I";
      position: absolute;
      right: 1em;
      color: $highlightedColor;
    }

    .searchLocations {
      background-color: #f2f2f2;
    }
  }
  .mapboxgl-ctrl-group {
      border-radius: 50%;
      margin-left: 0.5em;

    .mapboxgl-ctrl-icon {
      height: 2.5em;
      width: 2.5em;
    }
  }
}