$highlightedColor: #7ECE96;
$textcolor: #707070;

/*CSS for Slideout Menu*/
.toggle-button {
	position: absolute;
	z-index: 9999;
	top: 0;
	transition: transform 250ms ease-in-out;
	right: 0;
	width: 30px; 
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		content: url("/public/assets/images/icons/grabble.svg");
		transform: rotate(90deg);
	    height: 100%;
    	width: 19px;
	}
}

.slideout-menu {
	$width: 256px;
	top: 0;
	bottom: 0;
	width: $width;
	height: 80vh;
	margin: auto;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	transform: translateX(-1 * $width + 30px);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
	left: 0;
	position: absolute;
	z-index: 1000;
	background-color: #fff;

	&.transition {
		transition: transform 250ms ease-in-out;
	}
	
	&.open {
		transform: translateX(0);
	}

	.filter-heading {
		text-transform: uppercase;
		margin: 1em;
	}

	.filter {
		> span {
			display: flex;
			color: $textcolor;
			font-size: 0.8em;
			padding: 1.5em 0 1.5em 4em;
			align-items: center;

			&::after {
				height: 24px;
				width: 24px;
				position: absolute;
				right: 3px;
			}
		}

		.filter-shop::after {
			content: url("/public/assets/images/icons/shop.svg");
		}

		.filter-dinner::after {
			content: url("/public/assets/images/icons/dinner.svg");
		}

		.filter-greenLocation::after {
			content: url("/public/assets/images/icons/greenLocation.svg");
		}

		.filter-orga::after {
			content: url("/public/assets/images/icons/orga.svg");
		}

		.filter-leisure::after {
			content: url("/public/assets/images/icons/leisure.svg");
		}
	}
}

.panel::before {
	content: '';
	display: block;
	pointer-events: none;
	background-color: rgba(0,0,0,0);
	transition: background-color 250ms ease-in-out;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 999;
}

.panel.open::before {
	background-color: rgba(0,0,0,.5);
}