$highlightedColor: #7ECE96;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: color .2s ease-in;

  &:hover {
    color: $highlightedColor;
  }
}

button {
  &:focus {
    outline: none;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.bottom-menu {
  height: 56px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left:0;
  z-index: 11111;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
}

.bm-inner-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 50em;
  width: 100vw;
  height: 100%;
  
  a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      height: 40%;
    }
  
    span {
      font-size: 0.8em;
      margin-top: 0.3em;
      color: #747474;
    }
  }
}

.share-button {
  height: 50px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
}

.default-wrapper {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding: 1.5em;
}

.input {
	display: block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px;

  &:not(:first-child):not(:last-child) {
    margin: 1em 0;
  }
}

.submit-button  {
  background-color: $highlightedColor;
  display: block;
  padding: 1.2em 5em;
  margin: auto;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 2em;
  font-weight: 700;
}

.floatingButton {
  display: flex;
  align-items: center;
  justify-content: center;
	position:fixed;
	width:56px;
	height:56px;
	bottom:80px;
	right:40px;
	color:#FFF;
	border-radius:50px;
  font-size: 1.8em;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  border: none;
  cursor: pointer;
  z-index: 9998;
  background-color: $highlightedColor;
}