.articleimg {
  width: 100%;
  height: auto;
  margin-bottom: 1em; }

.dayandstart {
  display: flex;
  flex-direction: row; }

.articleHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 1em; }

.articletitle, .articleSummary {
  margin-bottom: 1em; }

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em; }

.left-nav {
  display: flex;
  width: 50%;
  margin-left: 2em; }

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%; }

#article-body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-bottom: 5em; }

.floatingButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  font-size: 40px; }

.eventColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  padding: 1em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: #e8eaec; }

.eventDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em; }

.daydate {
  font-size: 2em; }

.eventInfo {
  display: flex;
  flex-direction: column;
  padding: 1em; }

.event {
  min-width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em; }

.eventimg {
  margin-top: 1em;
  width: 95%;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em; }

.eventInfo h4 {
  margin-bottom: 0.5em; }

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#events {
  margin-bottom: 3em; }

@media only screen and (min-width: 768px) {
  .events {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; } }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formInput {
  font-weight: bold;
  width: 300px;
  margin-top: 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #748194;
  font-size: 14px; }

.formButton {
  font-weight: bold;
  width: 300px;
  margin-top: 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e66740;
  color: #F6F7F9;
  font-size: 14px; }

div[class^="related"] {
  color: #fff;
  width: 100%; }
  div[class^="related"] .heading {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  div[class^="related"] .r-heading-contact, div[class^="related"] .r-heading-imprint {
    padding: 0.8em 0; }

.related-about {
  background-color: #878787; }
  .related-about .r-heading-about {
    padding-top: 2em; }
  .related-about .r-text-about {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 1em 0; }

.related-contact {
  background-color: #d0d0d0; }
  .related-contact-content {
    background-color: #e2e2e2;
    padding: 1.5em;
    display: block;
    overflow: hidden; }
    .related-contact-content.close {
      display: none;
      padding: 0; }
    .related-contact-content .contact-text {
      color: #7e7e7e;
      text-align: center;
      margin: 1em 0 2.5em; }

.related-imprint {
  background-color: #acacac; }

.index-lifeguideLogo {
  display: block;
  margin: 0 auto;
  margin-top: 1em; }

.location-tips-container, .event-tips-container, .tour-tips-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em; }

.location-tips, .event-tips, .tour-tips {
  margin-top: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex: 0 0 100%;
  padding-bottom: 1rem; }
  .location-tips a, .event-tips a, .tour-tips a {
    min-width: 12em;
    padding: 0 0.5em;
    max-width: 25%; }
    .location-tips a:last-child, .event-tips a:last-child, .tour-tips a:last-child {
      padding: 0 0 0 0.5em; }
    .location-tips a:first-child, .event-tips a:first-child, .tour-tips a:first-child {
      padding: 0 0.5em 0 0; }
    .location-tips a img, .event-tips a img, .tour-tips a img {
      height: 120px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
    .location-tips a .recommend-sub-heading, .event-tips a .recommend-sub-heading, .tour-tips a .recommend-sub-heading {
      font-weight: 400;
      font-size: 0.8em;
      margin-top: 0.5em;
      color: #585858; }

.location-tips-showAll, .event-tips-showAll, .tour-tips-showAll {
  align-self: flex-end;
  margin-left: auto;
  color: #e66740; }
  .location-tips-showAll svg, .event-tips-showAll svg, .tour-tips-showAll svg {
    height: 30px; }
    .location-tips-showAll svg > *, .event-tips-showAll svg > *, .tour-tips-showAll svg > * {
      stroke: #e66740; }

.location-tips-heading, .event-tips-heading, .tour-tips-heading {
  font-size: 1em;
  max-width: 60%;
  text-transform: uppercase;
  display: flex;
  align-items: center; }

body.overflow-hidden {
  overflow: hidden;
  overscroll-behavior: contain; }

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh; }

.leaflet-top.leaflet-right {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 990;
  align-items: center; }
  .leaflet-top.leaflet-right .leaflet-routing-container {
    display: none; }
  .leaflet-top.leaflet-right .leaflet-control-geocoder {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #f8f8f8; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-icon {
      display: none; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-form {
      padding: 10px;
      font-size: 0.7em; }
      .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-form::after {
        content: "A";
        color: #e66740;
        height: 75%;
        width: auto;
        position: absolute;
        right: 1em; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-alternatives {
      position: absolute;
      background-color: #fff;
      top: 0;
      transform: translateY(2.2rem); }
  .leaflet-top.leaflet-right .leaflet-control-locate {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }
    .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part {
      border-radius: 50%;
      width: 20px;
      height: 20px; }
      .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg {
        transform: scale(0.8); }
        .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg path, .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg circle {
          stroke: #e66740; }

.add-location {
  width: 30px;
  height: 30px;
  background-color: #e66740;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: 9998;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #fff; }

.location-entity-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  padding-bottom: 1em;
  z-index: 10001;
  box-shadow: 0 -6px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  scroll-behavior: smooth; }
  .location-entity-wrapper.show {
    display: block; }
  .location-entity-wrapper.transition {
    transition: top 250ms ease; }
  .location-entity-wrapper.show-complete {
    top: 0;
    height: 100vh;
    bottom: unset;
    overflow: auto;
    padding-bottom: 56px !important; }
    .location-entity-wrapper.show-complete .location-entity-holder .location-entity-grabble {
      transform: scale(1.5) rotate(180deg); }
  .location-entity-wrapper h2 {
    padding-top: 21px; }
  .location-entity-wrapper .location-entity-holder {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    align-items: center; }
    .location-entity-wrapper .location-entity-holder .location-entity-grabble {
      height: 100%;
      width: auto;
      transform: scale(1.5);
      margin: 0 auto; }
      .location-entity-wrapper .location-entity-holder .location-entity-grabble path {
        stroke: #e66740; }
    .location-entity-wrapper .location-entity-holder .location-entity-shareButton, .location-entity-wrapper .location-entity-holder .location-entity-markButton {
      position: absolute;
      height: 80%;
      width: 30px; }
      .location-entity-wrapper .location-entity-holder .location-entity-shareButton svg, .location-entity-wrapper .location-entity-holder .location-entity-markButton svg {
        transform: scale(0.8); }
      .location-entity-wrapper .location-entity-holder .location-entity-shareButton path, .location-entity-wrapper .location-entity-holder .location-entity-shareButton circle, .location-entity-wrapper .location-entity-holder .location-entity-markButton path, .location-entity-wrapper .location-entity-holder .location-entity-markButton circle {
        stroke: #e66740; }
      .location-entity-wrapper .location-entity-holder .location-entity-shareButton.hide, .location-entity-wrapper .location-entity-holder .location-entity-markButton.hide {
        display: none; }
    .location-entity-wrapper .location-entity-holder .location-entity-markButton {
      right: 60px; }
    .location-entity-wrapper .location-entity-holder .location-entity-shareButton {
      right: 20px; }
  .location-entity-wrapper + .location-entity-placeholder {
    position: absolute;
    width: 100vw;
    background-color: #fff;
    bottom: 1px;
    z-index: 10000; }
  .location-entity-wrapper .location-entity-content {
    margin-top: 1em; }
    .location-entity-wrapper .location-entity-content .hide {
      display: none; }
    .location-entity-wrapper .location-entity-content .location-entity-collapsed-text {
      padding: 0 1.5em; }
      .location-entity-wrapper .location-entity-content .location-entity-collapsed-text .entity-collapsed-address, .location-entity-wrapper .location-entity-content .location-entity-collapsed-text .entity-collapsed-zipCode {
        font-size: 0.8em;
        color: #747474; }
    .location-entity-wrapper .location-entity-content .location-entity-open-text {
      padding: 0 1.5em;
      display: flex;
      flex-direction: column; }
      .location-entity-wrapper .location-entity-content .location-entity-open-text.hide {
        display: none; }
      .location-entity-wrapper .location-entity-content .location-entity-open-text .entity-open-heading {
        text-transform: uppercase; }
      .location-entity-wrapper .location-entity-content .location-entity-open-text .entity-open-description {
        font-size: 0.8em;
        margin-top: 0.5em;
        color: #747474;
        width: 75%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical; }
      .location-entity-wrapper .location-entity-content .location-entity-open-text .entity-show-more {
        margin-top: 0.5em;
        color: #e66740;
        margin-left: auto; }
        .location-entity-wrapper .location-entity-content .location-entity-open-text .entity-show-more::after {
          content: "P";
          padding-left: 10px; }
    .location-entity-wrapper .location-entity-content .location-entity-full-text .location-entity-keydata > span {
      color: #747474;
      border-top: 1px solid #e7e7e7;
      display: flex;
      padding: 1em 0;
      align-items: center; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .location-entity-keydata > span:last-child {
        border-bottom: 1px solid #e7e7e7; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .location-entity-keydata > span::before {
        content: "U";
        padding-right: 1.5em;
        padding-left: 1.5em;
        color: #e66740; }
    .location-entity-wrapper .location-entity-content .location-entity-full-text .entity-full-images {
      margin: 2em 1.5em 0 1.5em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .entity-full-images img {
        min-width: 11em;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px; }
    .location-entity-wrapper .location-entity-content .location-entity-full-text .map-entity-events {
      margin-top: 2em;
      padding: 0 1.5em; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .map-entity-events .eventColumn {
        margin-top: 1em;
        border-radius: 5px;
        width: auto; }
        .location-entity-wrapper .location-entity-content .location-entity-full-text .map-entity-events .eventColumn .eventInfo {
          flex: 1; }
        .location-entity-wrapper .location-entity-content .location-entity-full-text .map-entity-events .eventColumn .eventMenu {
          color: #e66740;
          align-self: flex-start; }
          .location-entity-wrapper .location-entity-content .location-entity-full-text .map-entity-events .eventColumn .eventMenu:after {
            content: "I"; }
    .location-entity-wrapper .location-entity-content .location-entity-full-text .entity-full-text {
      margin: 2em 0;
      padding: 0 1.5em; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .entity-full-text > p {
        margin: 1em 0;
        font-size: 0.8em;
        color: #747474; }
    .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content {
      position: absolute;
      background-color: #fff;
      z-index: 10002;
      top: 0;
      right: 0;
      padding: 1.5em;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
      display: block; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content.hide {
        display: none; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-share, .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-export, .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-bookmark {
        display: block;
        font-size: 0.8em;
        color: #747474; }
        .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-share:not(:last-child):not(:first-child), .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-export:not(:last-child):not(:first-child), .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-bookmark:not(:last-child):not(:first-child) {
          margin: 1.5em 0; }
        .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-share:before, .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-export:before, .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-bookmark:before {
          padding-right: 1.5em;
          color: #e66740; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-share:before {
        content: "T"; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-export:before {
        content: "R"; }
      .location-entity-wrapper .location-entity-content .location-entity-full-text .event-menu-content .entity-event-bookmark:before {
        content: "S"; }
    .location-entity-wrapper .location-entity-content .location-entity-createRoute {
      width: 30px;
      height: 30px;
      background-color: #e66740;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8em;
      cursor: pointer;
      position: absolute;
      bottom: 90px;
      right: 20px; }
      .location-entity-wrapper .location-entity-content .location-entity-createRoute svg {
        height: 100%;
        width: 100%; }
      .location-entity-wrapper .location-entity-content .location-entity-createRoute path {
        stroke: #fff; }
      .location-entity-wrapper .location-entity-content .location-entity-createRoute.hide {
        display: none; }

/*CSS for Slideout Menu*/
.toggle-button {
  position: absolute;
  z-index: 9999;
  top: 0;
  transition: transform 250ms ease-in-out;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff; }
  .toggle-button svg.toggle-button-icon {
    transform: scale(1.5);
    width: 30px;
    height: 30px; }

.slideout-menu {
  top: 0;
  bottom: 0;
  width: 256px;
  height: 80vh;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  transform: translateX(-226px);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: #fff; }
  .slideout-menu.transition {
    transition: transform 250ms ease-in-out; }
  .slideout-menu.open {
    transform: translateX(0); }

.panel:before {
  content: '';
  display: block;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 250ms ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999; }

.panel.open:before {
  background-color: rgba(0, 0, 0, 0.5); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 16px; }

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: color .2s ease-in; }
  a:hover {
    color: #e66740; }

.bottom-menu {
  height: 56px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11111;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }

.bm-inner-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 50em;
  width: 100vw;
  height: 100%; }
  .bm-inner-menu a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bm-inner-menu a svg {
      height: 40%; }
    .bm-inner-menu a span {
      font-size: 0.8em;
      margin-top: 0.3em;
      color: #747474; }

.share-button {
  height: 50px;
  background-color: #1e1e1e;
  color: #fff;
  border: none; }

.default-wrapper {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding: 1.5em; }

.input {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px; }
  .input:not(:first-child):not(:last-child) {
    margin: 1em 0; }

.submit-button {
  background-color: #e66740;
  display: block;
  padding: 1.2em 5em;
  margin: auto;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 2em;
  font-weight: 700; }
