body.overflow-hidden {
  overflow: hidden;
  overscroll-behavior: contain; }

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh; }

.leaflet-top.leaflet-right {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 990; }
  .leaflet-top.leaflet-right .leaflet-routing-container {
    display: none; }
  .leaflet-top.leaflet-right .leaflet-control-geocoder {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-icon {
      display: none; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-form {
      padding: 0 10px; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-alternatives {
      position: absolute;
      background-color: #fff;
      top: 0;
      transform: translateY(2.2rem); }
  .leaflet-top.leaflet-right .leaflet-control-locate {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }
    .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part {
      border-radius: 50%; }
      .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg {
        transform: scale(0.8); }

.add-location {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: 9998;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.location-item-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  min-height: 25vh;
  background-color: #fff;
  top: 75vh;
  z-index: 10001;
  padding-bottom: 50px;
  box-shadow: 0 -6px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden; }
  .location-item-wrapper.show {
    display: block; }
  .location-item-wrapper.transition {
    transition: top 250ms ease; }
  .location-item-wrapper.show-complete {
    top: 0;
    height: 100vh;
    bottom: unset;
    overflow: auto; }
    .location-item-wrapper.show-complete .location-item-holder svg {
      transform: scale(1.5) rotate(180deg); }
  .location-item-wrapper.on-translate {
    opacity: 0.8; }
    .location-item-wrapper.on-translate + .location-item-placeholder {
      opacity: 0.8; }
  .location-item-wrapper h2 {
    padding-top: 21px; }
  .location-item-wrapper .location-item-holder {
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    margin-top: -1px; }
    .location-item-wrapper .location-item-holder svg {
      height: 100%;
      width: auto;
      transform: scale(1.5); }
  .location-item-wrapper + .location-item-placeholder {
    position: absolute;
    width: 100vw;
    background-color: #fff;
    bottom: 1px;
    z-index: 10000; }

/*CSS for Slideout Menu*/
.toggle-button {
  position: absolute;
  z-index: 9999;
  top: 0;
  transition: transform 250ms ease-in-out;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff; }
  .toggle-button svg.toggle-button-icon {
    transform: scale(1.5);
    width: 30px;
    height: 30px; }

.slideout-menu {
  top: 0;
  bottom: 0;
  width: 256px;
  height: 80vh;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  transform: translateX(-226px);
  transition: transform 250ms ease-in-out;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: #fff; }
  .slideout-menu.open {
    transform: translateX(0); }

.panel:before {
  content: '';
  display: block;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 250ms ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999; }

.panel.open:before {
  background-color: rgba(0, 0, 0, 0.5); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  color: #1e1e1e;
  font-family: sans-serif; }

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: color .2s ease-in; }
  a:hover {
    color: #e66740; }

.bottom-menu {
  height: 3em;
  width: 100%;
  background-color: #e66740;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999999; }

.bm-inner-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 50em;
  width: 100vw;
  height: 100%; }

.share-button {
  height: 50px;
  background-color: #1e1e1e;
  color: #fff;
  border: none; }

.location-tips-container, .event-tips-container, .tour-tips-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em; }

.location-tips, .event-tips, .tour-tips {
  margin-top: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex: 0 0 100%;
  padding-bottom: 1rem; }
  .location-tips article, .event-tips article, .tour-tips article {
    min-width: 15em;
    padding: 0 1em; }
    .location-tips article:last-child, .event-tips article:last-child, .tour-tips article:last-child {
      padding: 0 0 0 1em; }
    .location-tips article:first-child, .event-tips article:first-child, .tour-tips article:first-child {
      padding: 0 1em 0 0; }
    .location-tips article img, .event-tips article img, .tour-tips article img {
      height: 150px;
      width: 100%;
      object-fit: cover; }

.wrapper {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding: 1.5em; }

.index-lifeguideLogo {
  display: block;
  margin: 0 auto;
  margin-top: 2em; }

.location-tips-showAll, .event-tips-showAll, .tour-tips-showAll {
  align-self: flex-end;
  margin-left: auto;
  color: #e66740; }

.location-tips-heading, .event-tips-heading, .tour-tips-heading {
  font-size: 1.2em;
  max-width: 60%;
  border-bottom: 5px solid #e66740; }

.about-us-container {
  width: 100%;
  margin-top: 2em; }
  .about-us-container .about-us-image {
    width: 100%;
    height: auto; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999; }
