.floatingButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  font-size: 40px; }

.eventColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  padding: 10px;
  background-color: #e8eaec; }

.eventDate {
  margin: 5px;
  padding: 5px; }

.eventInfo {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px; }

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px; }

.eventimg {
  margin-top: 20px;
  width: 95%; }

.eventInfo h4 {
  margin-bottom: 6px; }

#events {
  margin-bottom: 50px; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formInput {
  font-weight: bold;
  width: 300px;
  margin-top: 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #748194;
  font-size: 14px; }

.formButton {
  font-weight: bold;
  width: 300px;
  margin-top: 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e66740;
  color: #F6F7F9;
  font-size: 14px; }

div[class^="related"] {
  color: #fff;
  width: 100%; }
  div[class^="related"] h4[class^="r-heading"] {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  div[class^="related"] .r-heading-contact, div[class^="related"] .r-heading-imprint {
    padding: 0.8em 0; }

.related-about {
  background-color: #646464; }
  .related-about .r-heading-about {
    padding-top: 2em; }
  .related-about .r-text-about {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 1em 0; }

.related-contact {
  background-color: #7c7c7c; }

.related-imprint {
  background-color: #6d6d6d; }

.index-lifeguideLogo {
  display: block;
  margin: 0 auto;
  margin-top: 2em; }

.location-tips-container, .event-tips-container, .tour-tips-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em; }

.location-tips, .event-tips, .tour-tips {
  margin-top: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex: 0 0 100%;
  padding-bottom: 1rem; }
  .location-tips article, .event-tips article, .tour-tips article {
    min-width: 11em;
    padding: 0 1em; }
    .location-tips article:last-child, .event-tips article:last-child, .tour-tips article:last-child {
      padding: 0 0 0 1em; }
    .location-tips article:first-child, .event-tips article:first-child, .tour-tips article:first-child {
      padding: 0 1em 0 0; }
    .location-tips article img, .event-tips article img, .tour-tips article img {
      height: 100px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
    .location-tips article h4.recommend-sub-heading, .event-tips article h4.recommend-sub-heading, .tour-tips article h4.recommend-sub-heading {
      font-weight: 400;
      font-size: 1em; }

.location-tips-showAll, .event-tips-showAll, .tour-tips-showAll {
  align-self: flex-end;
  margin-left: auto;
  color: #e66740; }

.location-tips-heading, .event-tips-heading, .tour-tips-heading {
  font-size: 1em;
  max-width: 60%;
  text-transform: uppercase; }

body.overflow-hidden {
  overflow: hidden;
  overscroll-behavior: contain; }

/*Map Styling*/
#mapid {
  width: 100vw;
  height: 100vh; }

.leaflet-top.leaflet-right {
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 990;
  align-items: center; }
  .leaflet-top.leaflet-right .leaflet-routing-container {
    display: none; }
  .leaflet-top.leaflet-right .leaflet-control-geocoder {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #f8f8f8; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-icon {
      display: none; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-form {
      padding: 10px;
      font-size: 0.7em; }
      .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-form::after {
        content: "A";
        color: #e66740;
        height: 75%;
        width: auto;
        position: absolute;
        right: 1em; }
    .leaflet-top.leaflet-right .leaflet-control-geocoder .leaflet-control-geocoder-alternatives {
      position: absolute;
      background-color: #fff;
      top: 0;
      transform: translateY(2.2rem); }
  .leaflet-top.leaflet-right .leaflet-control-locate {
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }
    .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part {
      border-radius: 50%;
      width: 20px;
      height: 20px; }
      .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg {
        transform: scale(0.8); }
        .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg path, .leaflet-top.leaflet-right .leaflet-control-locate a.leaflet-bar-part svg.icon-geolocate-svg circle {
          stroke: #e66740; }

.add-location {
  width: 30px;
  height: 30px;
  background-color: #e66740;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: 9998;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #fff; }

.location-item-wrapper {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  top: 75vh;
  z-index: 10001;
  padding-bottom: 56px;
  box-shadow: 0 -6px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden; }
  .location-item-wrapper.show {
    display: block; }
  .location-item-wrapper.transition {
    transition: top 250ms ease; }
  .location-item-wrapper.show-complete {
    top: 0;
    height: 100vh;
    bottom: unset;
    overflow: auto; }
    .location-item-wrapper.show-complete .location-item-holder .location-item-grabble {
      transform: scale(1.5) rotate(180deg); }
  .location-item-wrapper h2 {
    padding-top: 21px; }
  .location-item-wrapper .location-item-holder {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    margin-top: -1px;
    position: relative;
    align-items: center; }
    .location-item-wrapper .location-item-holder .location-item-grabble {
      height: 100%;
      width: auto;
      transform: scale(1.5);
      margin: 0 auto; }
      .location-item-wrapper .location-item-holder .location-item-grabble path {
        stroke: #e66740; }
    .location-item-wrapper .location-item-holder .location-item-shareButton, .location-item-wrapper .location-item-holder .location-item-markButton {
      position: absolute;
      height: 80%;
      width: 30px; }
      .location-item-wrapper .location-item-holder .location-item-shareButton svg, .location-item-wrapper .location-item-holder .location-item-markButton svg {
        transform: scale(0.8); }
      .location-item-wrapper .location-item-holder .location-item-shareButton path, .location-item-wrapper .location-item-holder .location-item-shareButton circle, .location-item-wrapper .location-item-holder .location-item-markButton path, .location-item-wrapper .location-item-holder .location-item-markButton circle {
        stroke: #e66740; }
      .location-item-wrapper .location-item-holder .location-item-shareButton.hide, .location-item-wrapper .location-item-holder .location-item-markButton.hide {
        display: none; }
    .location-item-wrapper .location-item-holder .location-item-markButton {
      right: 60px; }
    .location-item-wrapper .location-item-holder .location-item-shareButton {
      right: 20px; }
  .location-item-wrapper + .location-item-placeholder {
    position: absolute;
    width: 100vw;
    background-color: #fff;
    bottom: 1px;
    z-index: 10000; }
  .location-item-wrapper .location-item-content .hide {
    display: none; }
  .location-item-wrapper .location-item-content .location-item-collapsed-text {
    padding: 0 30px; }
  .location-item-wrapper .location-item-content .location-item-open-text {
    padding: 0 30px;
    display: flex;
    flex-direction: column; }
    .location-item-wrapper .location-item-content .location-item-open-text.hide {
      display: none; }
    .location-item-wrapper .location-item-content .location-item-open-text .entity-open-description {
      width: 75%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      -moz-line-clamp: 3;
      -moz-box-orient: vertical; }
    .location-item-wrapper .location-item-content .location-item-open-text .entity-show-more {
      color: #e66740;
      margin-left: auto; }
      .location-item-wrapper .location-item-content .location-item-open-text .entity-show-more::after {
        content: "P";
        padding-left: 10px; }
  .location-item-wrapper .location-item-content .location-item-full-text {
    padding: 0 30px 60px 30px; }
    .location-item-wrapper .location-item-content .location-item-full-text > span {
      border-top: 1px solid grey;
      display: flex;
      padding: 10px 0;
      align-items: center; }
      .location-item-wrapper .location-item-content .location-item-full-text > span::before {
        content: "U";
        padding-right: 30px;
        padding-left: 30px;
        color: #e66740; }
    .location-item-wrapper .location-item-content .location-item-full-text .entity-full-images {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto; }
      .location-item-wrapper .location-item-content .location-item-full-text .entity-full-images img {
        min-width: 11em;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px; }
  .location-item-wrapper .location-item-content .location-item-createRoute {
    width: 30px;
    height: 30px;
    background-color: #e66740;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    right: 20px; }
    .location-item-wrapper .location-item-content .location-item-createRoute svg {
      height: 100%;
      width: 100%; }
    .location-item-wrapper .location-item-content .location-item-createRoute path {
      stroke: #fff; }
    .location-item-wrapper .location-item-content .location-item-createRoute.hide {
      display: none; }

/*CSS for Slideout Menu*/
.toggle-button {
  position: absolute;
  z-index: 9999;
  top: 0;
  transition: transform 250ms ease-in-out;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff; }
  .toggle-button svg.toggle-button-icon {
    transform: scale(1.5);
    width: 30px;
    height: 30px; }

.slideout-menu {
  top: 0;
  bottom: 0;
  width: 256px;
  height: 80vh;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  transform: translateX(-226px);
  transition: transform 250ms ease-in-out;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  position: absolute;
  z-index: 1000;
  background-color: #fff; }
  .slideout-menu.open {
    transform: translateX(0); }

.panel:before {
  content: '';
  display: block;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 250ms ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999; }

.panel.open:before {
  background-color: rgba(0, 0, 0, 0.5); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  color: #1e1e1e;
  font-family: sans-serif; }

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: color .2s ease-in; }
  a:hover {
    color: #e66740; }

.bottom-menu {
  height: 56px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11111;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }

.bm-inner-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 50em;
  width: 100vw;
  height: 100%; }
  .bm-inner-menu a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bm-inner-menu a svg {
      height: 30%; }
    .bm-inner-menu a span {
      font-size: 0.7em;
      margin-top: 0.3em; }

.share-button {
  height: 50px;
  background-color: #1e1e1e;
  color: #fff;
  border: none; }

.default-wrapper {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding: 1.5em; }
